.history-section {
    text-align: center;
    color: var(--color-main-black);
    padding: 65px 0 70px 0;
}

.history-title {
    font-size: 34px;
    font-weight: 700;
    margin: 65px 0 60px 0;
}
.history-photo {
    width: 100%;
    max-width: 950px;
    height: 655px;
    object-fit: cover;
}

.history-description {
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0 0 0;
}

@media (max-width: 480px) {
    .history-description {
        font-size: 14px;
    }
    
    .history-photo {
        height: 480px;;
    }

    .history-section {
        padding: 50px 0 70px;
    }
}